################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineShops/FileContentIndex/ddefdea5-b9fe-4f7a-b718-636d4a2c4bb4.vsidx
